{% extends 'layout.html' %}

{% block body %}


<h2>Dispositivos Inteligentes</h2>
<div class="container">
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Aire Acon.</h5>
                <h6 class="card-subtitle mb-2 text-muted">Estado:OFF</h6>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                  </div>
                  <span>Programar Hora:</span>
                  <form action="#">
                    <input type="datetime-local" id="birthdaytime" name="birthdaytime">
                    <input type="submit">
                  </form>
                <a href="{{url_for('acomulados')}}" class="card-link">Metricas</a> <br>
                <a href="{{url_for('downloadData')}}" class="card-link">Descargar datos</a>
            </div>
    </div>
    <div class="col-md-2">
      
    </div>

  </div>

  </div>
</div>

{% endblock %}